@import '~bootstrap/scss/bootstrap';
@import '@fortawesome/fontawesome-free/css/fontawesome.css';
@import '@fortawesome/fontawesome-free/css/regular.css';
@import '@fortawesome/fontawesome-free/css/solid.css';
@import '@fortawesome/fontawesome-free/css/brands.css';

main {
    display: flex;
    height: 100vh;
}

.main-content {
    background-color: rgb(236, 236, 236);
    width: 100%;
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
}




.left-menu {
    display: flex;
    flex-direction: column;
    background-color: #b13274;
    color: white;
    width: 250px;


    .ms_btn {
        font-size: 25px;
        margin: 5px;
        display: flex;

        a {
            text-decoration: none;
            color: white;
            padding: 20px 10px;

            &:hover {
                color: #46e3ff;
            }

            span {
                font-weight: bold;
            }
        }
    }
}


// MEDIA QUERY LEFT-BAR ROSA
@media all and (max-width: 688px) {
    .left-menu {
        display: flex;
        flex-direction: column;
        background-color: #b13274;
        color: white;
        width: 80px;


        .ms_btn {
            font-size: 25px;
            margin: 5px;
            display: flex;

            a {
                text-decoration: none;
                color: white;
                padding: 20px 10px;
                width: 100%;
                text-align: center;

                &:hover {
                    color: #46e3ff;
                }

                span {
                    display: none;
                }
            }
        }
    }
}