@import '~bootstrap/scss/bootstrap';
@import '@fortawesome/fontawesome-free/css/fontawesome.css';
@import '@fortawesome/fontawesome-free/css/regular.css';
@import '@fortawesome/fontawesome-free/css/solid.css';
@import '@fortawesome/fontawesome-free/css/brands.css';

main {
    display: flex;
    height: 100vh;
}

.left-menu {
    display: flex;
    flex-direction: column;
    background-color: #b13274;
    color: white;
    width: 300px;


    .ms_btn {
        font-size: 25px;
        margin: 20px;
        display: flex;

        a {
            text-decoration: none;
            color: white;
            padding: 20px 10px;

            &:hover {
                color: #46e3ff;
            }

            span {
                font-weight: bold;
            }
        }
    }
}

.main-content {
    background-color: rgb(236, 236, 236);
    width: 100%;
    flex-grow: 1;
    overflow-y: auto;
}